.profile{
    display: flex;
    flex-direction: row;
}

.profile ul{
    display:flex;
    width: 100%;

    justify-items: center;
    flex-direction: column;
}


hr.sectiondivider{
    margin-top:40px;
    height: 2px;
    border:0;
    box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

.headers{
    cursor: pointer;
    background-color: rgb(214, 210, 210);
    align-content: flex-start
}

.headers:hover{
    cursor: pointer;
    background-color: rgb(151, 148, 148);
}

.subsection{
    display: flex;
    flex-direction: column;
}

.subsection.expanded{
   transition: 2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.field-container{
    display: flex;
    justify-content: flex-start;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size : 1.3rem;
    font-weight: 600;
}

.field-container label{
    width: 20rem;
    text-align : left;
}

input.subsection {
    line-height: 2rem;
    width: 100%;
    background: none;
    border: transparent;
    border-radius: 3px;
    box-shadow: 0.2px 0.2px 2px 1px #00000073;
}

.subsection.collapsed{

    display: none;
 }


